<div class="d-flex justify-content-between align-items-center">
  <h1>All restaurants</h1>
  <%= link_to "✚ Add a restaurant", new_restaurant_path, class: 'btn btn-primary' %>
</div>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <%= restaurant.name %>
        <span class="badge badge-light badge-pill"><%= restaurant.category %></span>
        <span class="badge badge-secondary badge-pill"><%= restaurant.reviews.average(:rating)? '★' * restaurant.reviews.average(:rating) : '-'%> (<%= restaurant.reviews.count  %> reviews)</span>
      </div>
      <span>
        <%= link_to "view", restaurant_path(restaurant), class: "badge badge-primary badge-pill" %>
        <%= link_to "edit",edit_restaurant_path(restaurant), class: "badge badge-light badge-pill" %>
        <%= link_to "delete", restaurant_path(restaurant), method: :delete, class: "badge badge-danger badge-pill", data: { confirm: "Are you sure?" } %>
      </span>
    </li>
  <% end %>
</ul>
